<div class="container">
<h1>This is One list page</h1>
 <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault"></label>
    <%= @task.title %> (<%= @task.details %>) <%= link_to 'Delete', task_path(@task),
   data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
   [<%= link_to 'Edit', edit_task_path(@task) %>]
</div>
<%= link_to 'Show all tasks', tasks_path, class: "text-decoration-none" %>

</div>
